/**
 * Custom Styles here.
 *
 * refï¼šhttps://v1.vuepress.vuejs.org/config/#index-styl
 */

// @import "./reset.css";

.usx-component {
    h1, h2 {
        border: none;
    }    
}

//@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

//@import '../../../dist/uswds-vue.css';
@import "../../../src/styles/uswds-vue.scss";
@import "./theme.scss";
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';



div.theme-default-content:not(.custom), .page-edit, .page-nav {
    max-width: 1200px !important;
}

.home .hero img {
    max-width: 450px !important;
}

